<h1>Favorited Pets</h1><br><br>

 <% favorites.contents.each do |pet_id, favorite| %>

  <%if favorite >= 1%>
    <%= link_to "#{Pet.find(pet_id).name}", "/pets/#{pet_id}" %>
    <%= image_tag("#{Pet.find(pet_id).image}", :size => "260x180") %>
  <%end%>
 <% end %>

 <%= link_to "Adopt", "/application/new" %>
